<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>

<body>
    <header>

    </header>
    <nav class="navbar container">
        
        <ul>
            <li class="navbar-item">
                <a class="navbar-link" href="#">link 1</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">link 2</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">link 3</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">link 4</a>
            </li>
        </ul>               
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <footer>


    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
